@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');

:root {
    --yellow: #FFF1BF;
    --red: #EE5C5C;
}

.wrapper {
    margin: 50px auto 0;
    width: 80%;

}

.questions {
    border-radius: 10px;
    font-size: 100px;
    text-align: center;
}

.list {
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.logo {
    width: inherit;
}

.list__item {
    flex-basis: 33.33%;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

body {
    background: var(--yellow);
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--red);

}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.answer {
    font-family: 'Raleway', sans-serif;
    background: var(--yellow);
    color: var(--red);
    border: 0;
    display: inline;
    cursor: pointer;
    font-size: 100px;
    text-decoration: underline;
    font-weight: 900;
}

ul,
li,
body {
    margin: 0;
    padding: 0;
}

li::marker {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}
